@model ItemVM

<div class="card shadow border-0 my-4">
    <div class="card-header bg-secondary bg-gradient m-lg-0 py-3">
        <div class="row">
            <div class="col-12 text-center"> 
                <h2 class="text-white py-2"> @(Model.Item.Id!=0?"Item":"Create ") Item</h2>
            </div>
        </div>
    </div>

    <div class="card-body p-4 mb-4">
        <form method="post" class="row" enctype="multipart/form-data">
            <input asp-for="Item.Id" hidden /> 
            <input asp-for="Item.ImageURL" hidden />

            <div class="row">
                <div class="col-10">
                    <div class="border p-3">

                <div asp-validation-summary="ModelOnly"></div>
                
                <div class="form-floating py-2 col-12">
                    <input asp-for="Item.Title" class="form-control border-0 shadow" />
                    <label asp-for="Item.Title" class="ms-2"></label>

                    <span asp-validation-for="Item.Title" class="text-danger"></span>
                </div>
                <div class="py-2 col-12">
                    <label asp-for="Item.Description" class="ms-2 text-muted"></label>
                    <textarea asp-for="Item.Description" class="form-control border-0 shadow"></textarea>                    
                     
                </div>

                <div class="form-floating py-2 col-12">
                    <input asp-for="Item.ISBN" class="form-control border-0 shadow" />
                    <label asp-for="Item.ISBN" class="ms-2"></label>

                    <span asp-validation-for="Item.ISBN" class="text-danger"></span>
                </div>

                <div class="form-floating py-2 col-12">
                    <input asp-for="Item.Author" class="form-control border-0 shadow" />
                    <label asp-for="Item.Author" class="ms-2"></label>

                    <span asp-validation-for="Item.Author" class="text-danger"></span>
                </div>

                <div class="form-floating py-2 col-12">
                    <input asp-for="Item.ListPrice" class="form-control border-0 shadow" />
                    <label asp-for="Item.ListPrice" class="ms-2"></label>

                    <span asp-validation-for="Item.ListPrice" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="Item.Price" class="form-control border-0 shadow" />
                    <label asp-for="Item.Price" class="ms-2"></label>

                    <span asp-validation-for="Item.Price" class="text-danger"></span>
                </div>

                <div class="form-floating py-2 col-12">
                    <input asp-for="Item.Price50" class="form-control border-0 shadow" />
                    <label asp-for="Item.Price50" class="ms-2"></label>

                    <span asp-validation-for="Item.Price50" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="Item.Price100" class="form-control border-0 shadow" />
                    <label asp-for="Item.Price100" class="ms-2"></label>

                    <span asp-validation-for="Item.Price100" class="text-danger"></span>
                </div>

                <div class="form-floating py-2 col-12">
                    @*Fetching and Displaying Data using ViewBag*@
                    @*<select asp-for="CategoryId" asp-items="ViewBag.CategoryList" class="form-select border-0 shadow">
                        <option disabled selected>--Select Category--</option>
                    </select>*@

                    @*Fetching and Displaying Data using ViewData*@
                    @*<select asp-for="CategoryId" asp-items="@(ViewBag["CategoryList"] as IEnumerable<SelectListItem>)" class="form-select border-0 shadow">
                        <option disabled selected>--Select Category--</option>
                    </select>*@

                    <select asp-for="Item.CategoryId" asp-items="@Model.CategoryList" class="form-select border-0 shadow">
                        <option disabled selected>--Select Category--</option>
                    </select>
                    <label class="ms-2">Category</label>

                    <span asp-validation-for="Item.CategoryId" class="text-danger"></span>
                </div>

                <div class="form-floating py-2 col-12">
                    <input type="file" name=file class="form-control border-0 shadow" />
                    <label asp-for="Item.ImageURL" class="ms-2"></label>
                </div>

                <div class="row pt-2">
                            <div class="col-6 col-md-3"> <button type="submit" class="btn btn-primary form-control">@(Model.Item.Id != 0 ? "Update" : "Create ")</button></div>
                    <div class="col-6 col-md-3"><a asp-controller="Item" asp-action="Index" class="btn btn-outline-primary border form-control">Back to list</a></div>
                </div>

            </div>
                </div>

                <div class="col-2">
                    <img src="@Model.Item.ImageURL" width="100%" style="border-radius:5px;border:1px solid #bbb9b9"/>
                </div>
            </div>
                       

        </form>
    </div>
</div>

@section Scripts{
    <script>
        tinymce.init({
            selector: 'textarea',
            plugins: 'anchor autolink charmap codesample emoticons lists table visualblocks wordcount checklist mediaembed casechange export formatpainter pageembed linkchecker a11ychecker tinymcespellchecker permanentpen powerpaste advtable advcode editimage tinycomments tableofcontents footnotes mergetags autocorrect typography inlinecss',
            toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | addcomment showcomments | spellcheckdialog a11ycheck typography | align lineheight | checklist numlist bullist indent outdent',
            tinycomments_mode: 'embedded',
            tinycomments_author: 'Author name',
            mergetags_list: [
                { value: 'First.Name', title: 'First Name' },
                { value: 'Email', title: 'Email' },
            ]
        });
    </script>

    @{
        <partial name="_ValidationScriptsPartial" />

    }
}